<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- Users -->
    <add key="User1Email" value="user1@example.com"/>
    <add key="User2Email" value="user2@example.com"/>

    <!-- Target Document Name -->
    <add key="TargetDocumentName" value="MSWordCandidateEvaluation.docx"/>

    <!-- Web Page Embedding -->
    <add key="WebDemoUrl" value="https://en.wikipedia.org/wiki/Main_Page" />

    <!-- Protection Password -->
    <add key="ProtectPassword" value="poc-123"/>

  </appSettings>
</configuration>
